@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Centric Corporate<br />
    1215 Lyons Rd Bldg F<br />
    Dayton, Ohio 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@centricconsulting.com</a><br />
</address>