@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Use this platform to help recognize fellow employees for demonstrating Centric's Core Values </p>
</div>

<div class="col-md-4">
    <h2>Employee Recognition</h2>
    <p>Do you know an employee that has been carrying out the core values of Centric? Click the button below to recognize them!</p>
    <p> @Html.ActionLink("Recognize", "Index", "Recognizes")</p>
</div>
<div class="col-md-4">
    <h2>Track your Progress</h2>
    <p>Do you want to see if one of your coworkers reported you living out our Core values? Click the button below to track your progress!</p>
    <p>@Html.ActionLink("Track Progress", "Leaderboard", "Recognizes")</p>
</div>
<div class="col-md-4">
    <h2>Social Media</h2>
    <p>Want to highlight an employee on social media? Click the link below to share something on one of our platforms! </p>
    <p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a class="fa fa-facebook" href="https://www.facebook.com/CentricConsultingNational/"></a>
        <a class="fa fa-twitter" href="https://www.twitter.com/Centric/"></a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/company/centric-consulting"></a>
        <a class="fa fa-instagram" href="https://www.instagram.com/centricconsulting/?hl=en"></a>
        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw"></a>
    </p>

</div>

<div class="row">
</div>

<h2>Centric's Core Values</h2>
<div id="CoreValues" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#CoreValues" data-slide-to="0" class="active"></li>
        <li data-target="#CoreValues" data-slide-to="1"></li>
        <li data-target="#CoreValues" data-slide-to="2"></li>
        <li data-target="#CoreValues" data-slide-to="3"></li>
        <li data-target="#CoreValues" data-slide-to="4"></li>
        <li data-target="#CoreValues" data-slide-to="5"></li>
        <li data-target="#CoreValues" data-slide-to="6"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/Stewardship.jpg" alt="Practice Responsible Stewardship" style="margin:auto"/>
            <div class="carousel-caption"><h3>Practice Respsonible Stewardship</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/Culture.jpg" alt="Invest in an Exceptional Culture" style="margin:auto"/>
            <div class="carousel-caption"><h3>Invest in an Exceptional Culture</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/DeliveryExcellence.jpg" alt="Commit to Delivery Excellence" style="margin:auto"/>
            <div class="carousel-caption"><h3>Commit to Delivery Excellence</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/Innovate.jpg" alt="Strive to Innovate" style="margin:auto"/>
            <div class="carousel-caption"><h3>Strive to Innovate</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/IgnitePassion.jpg" alt="Ignite Passion for the Greater Good" style="margin:auto"/>
            <div class="carousel-caption"><h3>Ignite Passion for the Greater Good</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/openness.jpg" alt="Embrace Integrity and Openness" style="margin:auto"/>
            <div class="carousel-caption"><h3>Embrace Integrity and Openness</h3></div>
        </div>

        <div class="item">
            <img src="~/Images/BalancedLife.jpg" alt="Live a Balanced Life" style="margin:auto"/>
            <div class="carousel-caption"><h3>Live a Balanced Life</h3></div>
        </div>
    </div>

    <a class="left carousel-control" href="#CoreValues" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#CoreValues" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

<br /> 

    <div class="jumbotron1">
        <h2>Core Value Descriptions</h2>
        <p>
            1) Practice Respsonible Stewardship: We value stewardship and fiscal accountability and always strive to do more with less. We guard and conserve company resources as if they were our own because it makes good business sense at all times, not just during lean times.<br />
            <br> 2) Invest in an Exceptional Culture:  We aim to hire and retain talented people from diverse backgrounds who can create a high impact for our clients and internally within our company. <br />
            <br /> 3) Commit to Delivery Excellence: We have a passion for consulting excellence. In all of our projects, we strive to first understand your needs and then deliver on our commitments 100 percent of the time. <br />
            <br /> 4) Strive to Innovate: We value passion, determination, perseverance, and innovation. We are inspired because we believe in what we are doing and where we are going. We believe in using innovation to remove obstacles and help you succeed. <br />
            <br /> 5) Ignite Passion for the Greater Good: We take pride in our commitment to improving the world in which we live and actively preserving our environment for future generations. We are steadfast in our devotion to the communities we serve and actively promote employee involvement in community improvement projects.<br />
            <br /> 6) Embrace Integrity and Openness: We value strong, positive relationships that are open and honest. This differentiates us and allows us to accomplish much more than we would be able to otherwise.<br />
            <br /> 7) Live a Balanced Life: Our employees are our greatest asset. Because of that, we encourage our people to strive for balance in their life, and we monitor projects to ensure our employees have time for family, community and personal interests.<br />
        </p>
        <p class="lead"></p>
    </div>
    <div class="row">
    </div>
